.one-spot-container {
    padding-left: 10px;
    padding-right: 10px;
}

.spot-images-container {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.secondary-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}

#primary-image {
    max-width: 530px;
    width: 530px;
    height: 320px;
    max-height: 330px;
}

.secondary-image {
    max-width: 220px;
    width: 220px;
    height: 155px;
    max-height: 170px;
}

.spot-details-container{
    display: flex;
    justify-content: space-between;
}

#reserve-square {
    border: 1px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding-top: 15px;
}

#reserve-info {
    display: flex;
    width: 80%;
    gap: 70px
}

.rating {
    display: flex;
    gap: 5px
}

#reserve-button {
    width: 80%;
}
