#user-spots-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 30px;
}

.one-spot {
    width: 230px;
}

#spot-img {
    width: 100%;
    max-width: 250px;
    height: 200px;
    border-radius: 10px;
}

.display-text {
    visibility: hidden;
}

#text {
    text-decoration: none;
}

.create-spot-button {
    text-decoration: none;
    background-color: gray;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

a .manage-spot-button {
    text-decoration: none;
    background-color: gray;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}
