.sign-up-form {
    background: #ffffff;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .errors {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
  }
