.hidden {
    display: none;
  }

  .navigation-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 20px;
    width: 990px;
  }

  .home-link {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .home-icon {
    font-size: 30px;
  }

  .home-text {
    font-size: 20px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .create-spot-option {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
  }

  .create-spot-option a,
  .home-icon a,
  .home-text a {
    text-decoration: none;
    font-weight: bold;
  }

  .user-actions {
    display: flex;
    gap: 15px;
    align-items: center;
  }

   #break{
    width: 100%
  }

  .profile-button-container {
    position: relative; /* This makes it the reference point for the absolutely positioned dropdown */
  }

  .profile-dropdown {
    position: absolute;
    top: 100%; /* Position the dropdown right below the button */
    right: 0; /* Align the dropdown to the right of the button */
    z-index: 1000; /* Ensure it's above other content */
    background-color: white; /* Or any color you prefer */
    border: 1px solid #ccc; /* Optional */
    border-radius: 4px; /* Optional */
    width: 150px; /* Or any width you prefer */
  }

  /* Style for list items, buttons, etc. inside the dropdown */
  /* .profile-dropdown li, .profile-dropdown button { */
    /* Your styles here */
  /* } */
